@import "tailwindcss";

/* === Local Font Definitions === */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/WEB/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/WEB/fonts/Satoshi-VariableItalic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/General-Sans/WEB/fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/General-Sans/WEB/fonts/GeneralSans-VariableItalic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

h1 {
  @apply font-display;
}

input, select {
  @apply border border-zinc-700 dark:bg-neutral-800 p-1 rounded-md outline-none text-sm w-full font-semibold;
}

select {
  @apply p-1.5
}

small {
  @apply block text-xs opacity-50 font-bold mt-0.5;
}

button {
  @apply border border-zinc-700 rounded-2xl dark:bg-neutral-800 cursor-pointer px-2 py-2 transition-all hover:rounded-lg;
}

button:disabled {
  @apply opacity-50;
}

span {
  @apply text-xs;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: "General Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
}
